body
{
    background-color: #e4e3db;
}

.container
{
    position: relative;
}

.overlay 
{
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }

.carousel
{
    width: 95%;
    min-width: 65vw;
    height: 25vw;
    text-align: center;
}

.carousel_interior
{
    width: 85%;
    min-width:55vw;
    overflow: hidden;
    height:20vw;
    display: inline-block;
    padding-top: 2vw;
}

.carousel_interior img
{
    max-width: 85vw;
    min-width: 55vw;
}

.arrow
{
    font-size: xx-large;
    position: absolute;
    top: 10vw;
}

.arrow:hover
{
    opacity: 75%;
}

.arrow:active
{
    opacity: 50%;
}


#left_arrow
{
    left: 1vw;
}

#right_arrow
{
    right: 1vw;
}